# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [48]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df_new = applicant_data_df.drop(['EIN' ,'NAME'] , axis=1)

# Review the DataFrame
applicant_data_df_new

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [82]:
# Create a list of categorical variables 
#categorical_variables = ['APPLICATION_TYPE','AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT']# , dtype ="category")
#X = pd.get_dummies(applicant_data_df_new)
categorical_variables = list(applicant_data_df_new.dtypes[applicant_data_df_new.dtypes == "object"].index)

# Display the categorical variables list
# X1 = X.toArray()
# X1

In [83]:
# Create a OneHotEncoder instance
#enc = OneHotEncoder(handle_unknown='ignore'')
enc = OneHotEncoder(sparse = False)

In [84]:
# Encode the categorcal variables using OneHotEncoder
# X1 = np.reshape(X,1,1)
encoded_data = enc.fit_transform(applicant_data_df_new[categorical_variables])
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [85]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [87]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df_merge = pd.concat([encoded_df , applicant_data_df[['STATUS','ASK_AMT','IS_SUCCESSFUL']]] , axis = 1)

# Review the Dataframe
encoded_df_merge

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [99]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df_merge['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [101]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df_merge.drop(columns = ['IS_SUCCESSFUL'] )

# Review the features DataFrame
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179

In [135]:
encoded_df_merge.iloc[0]

APPLICATION_TYPE_T10           1.0
APPLICATION_TYPE_T12           0.0
APPLICATION_TYPE_T13           0.0
APPLICATION_TYPE_T14           0.0
APPLICATION_TYPE_T15           0.0
                             ...
SPECIAL_CONSIDERATIONS_N       1.0
SPECIAL_CONSIDERATIONS_Y       0.0
STATUS                         1.0
ASK_AMT                     5000.0
IS_SUCCESSFUL                  1.0
Name: 0, Length: 117, dtype: float64

### Step 6: Split the features and target sets into training and testing datasets.

In [102]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [103]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [136]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [183]:
# Define the number of neurons in the output layer
number_output_neurons = nn.add(Dense(units=1, activation="sigmoid"))

In [184]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  58

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [174]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 29

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [144]:
# Create the Sequential model instance
nn = Sequential()

In [145]:
# Add the first hidden layer
nn.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation="relu"))

In [146]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [185]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [152]:
#nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Display the Sequential model summary
#model_1 = nn.fit(X_train_scaled, y_train, epochs=800, verbose=0)
nn.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_12 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 30
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 2
=================================================================
Total params: 8,529
Trainable params: 8,529
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [216]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [154]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6398 - accuracy: 0.5996
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5509 - accuracy: 0.7335
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7253
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7324
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7325
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7340
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7372
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7380
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7367
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7367
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7337
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7358
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7364
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7360
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7402
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7372
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7365
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7417
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7328
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7373
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7394
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7373
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7370
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7382
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7370
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7379
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7384
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7383
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7399
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7364
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7371
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5279 - accuracy: 0.7442
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7389
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5249 - accuracy: 0.7459
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7346
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7390
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7417
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7435
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7403
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7392
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7411
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7431
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7437
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7404
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7349

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [167]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=0)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Loss: 0.55409836769104, Accuracy: 0.7308454513549805

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [172]:
# Set the model's file path
file_path =  Path("../AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [176]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [177]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [178]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 58

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [179]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = 29

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

29

In [180]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer3_A1 = 15

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A1

15

In [181]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [186]:
# First hidden layer
nn_A1.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A1, activation="tanh"))

# 2nd hidden layer
nn_A1.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer2_A1, activation="tanh"))

# 3rdhidden layer
nn_A1.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer3_A1, activation="tanh"))

# Output layer
nn_A1.add(Dense( units=number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_16 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_17 (Dense)             (None, 15)                450
_________________________________________________________________
dense_18 (Dense)             (None, 1)                 16
_________________________________________________________________
dense_21 (Dense)             (None, 58)                116
_________________________________________________________________
dense_22 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_23 (Dense)             (None, 15)                450
_________________________________________________________________
dense_24 (Dense)             (None, 1)                 16
=================================================================
Total params: 11,256
Trainable params: 11,256
Non-trainable params: 0
_________________________________________________________________

In [195]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [196]:
nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6311 - accuracy: 0.6369
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5582 - accuracy: 0.7282
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7319
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7314
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7332
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7368
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7282
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7389
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7361
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7338
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7387
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7363
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7425
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7401
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7405
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7397
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7366
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7372
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7363
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7408
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7290
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7362
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7463
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7362
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7416
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7350
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7392
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7376
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7410
Epoch 32/50
804/804 [==============================] - 1s 884us/step - loss: 0.5318 - accuracy: 0.7442
Epoch 33/50
804/804 [==============================] - 1s 793us/step - loss: 0.5362 - accuracy: 0.7426
Epoch 34/50
804/804 [==============================] - 1s 858us/step - loss: 0.5341 - accuracy: 0.7410
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7414
Epoch 36/50
804/804 [==============================] - 1s 840us/step - loss: 0.5280 - accuracy: 0.7473
Epoch 37/50
804/804 [==============================] - 1s 844us/step - loss: 0.5305 - accuracy: 0.7423
Epoch 38/50
804/804 [==============================] - 1s 777us/step - loss: 0.5410 - accuracy: 0.7348
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7373
Epoch 40/50
804/804 [==============================] - 1s 850us/step - loss: 0.5321 - accuracy: 0.7407
Epoch 41/50
804/804 [==============================] - 1s 814us/step - loss: 0.5355 - accuracy: 0.7386
Epoch 42/50
804/804 [==============================] - ETA: 0s - loss: 0.5330 - accuracy: 0.74 - 1s 799us/step - loss: 0.5330 - accuracy: 0.7413
Epoch 43/50
804/804 [==============================] - 1s 786us/step - loss: 0.5322 - accuracy: 0.7430
Epoch 44/50
804/804 [==============================] - 1s 796us/step - loss: 0.5276 - accuracy: 0.7440
Epoch 45/50
804/804 [==============================] - 1s 791us/step - loss: 0.5327 - accuracy: 0.7421
Epoch 46/50
804/804 [==============================] - 1s 796us/step - loss: 0.5261 - accuracy: 0.7486
Epoch 47/50
804/804 [==============================] - 1s 815us/step - loss: 0.5383 - accuracy: 0.7357
Epoch 48/50
804/804 [==============================] - 1s 833us/step - loss: 0.5324 - accuracy: 0.7434
Epoch 49/50
804/804 [==============================] - 1s 822us/step - loss: 0.5317 - accuracy: 0.7434
Epoch 50/50
804/804 [==============================] - 1s 805us/step - loss: 0.5352 - accuracy: 0.7389

#### Alternative Model 2

In [204]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [205]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [206]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 51

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

51

In [207]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [209]:
# First hidden layer
nn_A2.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A1, activation="relu"))


# Output layer
nn_A2.add(Dense( units=number_output_neurons_A1, activation="sigmoid"))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_16 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_17 (Dense)             (None, 15)                450
_________________________________________________________________
dense_18 (Dense)             (None, 1)                 16
_________________________________________________________________
dense_21 (Dense)             (None, 58)                116
_________________________________________________________________
dense_22 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_23 (Dense)             (None, 15)                450
_________________________________________________________________
dense_24 (Dense)             (None, 1)                 16
_________________________________________________________________
dense_25 (Dense)             (None, 58)                116
_________________________________________________________________
dense_26 (Dense)             (None, 1)                 59
_________________________________________________________________
dense_27 (Dense)             (None, 58)                116
_________________________________________________________________
dense_28 (Dense)             (None, 1)                 59
_________________________________________________________________
dense_29 (Dense)             (None, 58)                116
_________________________________________________________________
dense_30 (Dense)             (None, 1)                 59
_________________________________________________________________
dense_31 (Dense)             (None, 58)                116
_________________________________________________________________
dense_32 (Dense)             (None, 1)                 59
_________________________________________________________________
dense_33 (Dense)             (None, 58)                116
_________________________________________________________________
dense_34 (Dense)             (None, 1)                 59
=================================================================
Total params: 12,131
Trainable params: 12,131
Non-trainable params: 0
_________________________________________________________________

In [210]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [211]:
# Fit the model
nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 776us/step - loss: 7.8556 - accuracy: 0.0028
Epoch 2/50
804/804 [==============================] - 1s 738us/step - loss: 7.8826 - accuracy: 0.0019
Epoch 3/50
804/804 [==============================] - 0s 598us/step - loss: 7.8277 - accuracy: 0.0022
Epoch 4/50
804/804 [==============================] - 0s 604us/step - loss: 7.8346 - accuracy: 0.0023
Epoch 5/50
804/804 [==============================] - 1s 641us/step - loss: 7.8744 - accuracy: 0.0019
Epoch 6/50
804/804 [==============================] - 0s 586us/step - loss: 7.8510 - accuracy: 0.0025
Epoch 7/50
804/804 [==============================] - 0s 587us/step - loss: 7.8596 - accuracy: 0.0023
Epoch 8/50
804/804 [==============================] - 0s 578us/step - loss: 7.8996 - accuracy: 0.0021
Epoch 9/50
804/804 [==============================] - 0s 615us/step - loss: 7.8404 - accuracy: 0.0024
Epoch 10/50
804/804 [==============================] - 1s 657us/step - loss: 7.8272 - accuracy: 0.0025
Epoch 11/50
804/804 [==============================] - 0s 619us/step - loss: 7.8249 - accuracy: 0.0020
Epoch 12/50
804/804 [==============================] - 1s 735us/step - loss: 7.8859 - accuracy: 0.0018
Epoch 13/50
804/804 [==============================] - 1s 838us/step - loss: 7.9325 - accuracy: 0.0020
Epoch 14/50
804/804 [==============================] - 1s 726us/step - loss: 7.9399 - accuracy: 0.0018
Epoch 15/50
804/804 [==============================] - 1s 714us/step - loss: 7.8042 - accuracy: 0.0024
Epoch 16/50
804/804 [==============================] - 1s 794us/step - loss: 7.9400 - accuracy: 0.0019
Epoch 17/50
804/804 [==============================] - 1s 698us/step - loss: 7.7978 - accuracy: 0.0024
Epoch 18/50
804/804 [==============================] - 1s 814us/step - loss: 7.8250 - accuracy: 0.0026
Epoch 19/50
804/804 [==============================] - 0s 592us/step - loss: 7.8310 - accuracy: 0.0022
Epoch 20/50
804/804 [==============================] - 1s 667us/step - loss: 7.8695 - accuracy: 0.0024
Epoch 21/50
804/804 [==============================] - 0s 592us/step - loss: 7.8491 - accuracy: 0.0019
Epoch 22/50
804/804 [==============================] - 1s 780us/step - loss: 7.8392 - accuracy: 0.0027
Epoch 23/50
804/804 [==============================] - 1s 709us/step - loss: 7.8853 - accuracy: 0.0024
Epoch 24/50
804/804 [==============================] - 1s 645us/step - loss: 7.8253 - accuracy: 0.0019
Epoch 25/50
804/804 [==============================] - 1s 800us/step - loss: 7.8948 - accuracy: 0.0022
Epoch 26/50
804/804 [==============================] - 1s 750us/step - loss: 7.8373 - accuracy: 0.0024
Epoch 27/50
804/804 [==============================] - 0s 587us/step - loss: 7.8595 - accuracy: 0.0026
Epoch 28/50
804/804 [==============================] - 0s 591us/step - loss: 7.9002 - accuracy: 0.0020
Epoch 29/50
804/804 [==============================] - 1s 685us/step - loss: 7.9033 - accuracy: 0.0029
Epoch 30/50
804/804 [==============================] - 0s 558us/step - loss: 7.8794 - accuracy: 0.0021
Epoch 31/50
804/804 [==============================] - 1s 698us/step - loss: 7.7740 - accuracy: 0.0021
Epoch 32/50
804/804 [==============================] - 0s 553us/step - loss: 7.8088 - accuracy: 0.0028
Epoch 33/50
804/804 [==============================] - 0s 556us/step - loss: 7.8760 - accuracy: 0.0017
Epoch 34/50
804/804 [==============================] - 0s 590us/step - loss: 7.8204 - accuracy: 0.0020
Epoch 35/50
804/804 [==============================] - 0s 581us/step - loss: 7.8980 - accuracy: 0.0022
Epoch 36/50
804/804 [==============================] - 1s 668us/step - loss: 7.8689 - accuracy: 0.0022
Epoch 37/50
804/804 [==============================] - 0s 600us/step - loss: 7.9444 - accuracy: 0.0027
Epoch 38/50
804/804 [==============================] - 1s 708us/step - loss: 7.9120 - accuracy: 0.0022
Epoch 39/50
804/804 [==============================] - 0s 603us/step - loss: 7.8733 - accuracy: 0.0026
Epoch 40/50
804/804 [==============================] - 1s 653us/step - loss: 7.8173 - accuracy: 0.0027
Epoch 41/50
804/804 [==============================] - 1s 666us/step - loss: 7.8756 - accuracy: 0.0024
Epoch 42/50
804/804 [==============================] - 1s 804us/step - loss: 7.8880 - accuracy: 0.0021
Epoch 43/50
804/804 [==============================] - 1s 746us/step - loss: 7.8844 - accuracy: 0.0025
Epoch 44/50
804/804 [==============================] - 1s 798us/step - loss: 7.9163 - accuracy: 0.0023
Epoch 45/50
804/804 [==============================] - 1s 725us/step - loss: 7.8096 - accuracy: 0.0019
Epoch 46/50
804/804 [==============================] - 1s 676us/step - loss: 7.8400 - accuracy: 0.0024
Epoch 47/50
804/804 [==============================] - 1s 724us/step - loss: 7.9028 - accuracy: 0.0026
Epoch 48/50
804/804 [==============================] - 1s 810us/step - loss: 7.8792 - accuracy: 0.0024
Epoch 49/50
804/804 [==============================] - 1s 850us/step - loss: 7.9393 - accuracy: 0.0022
Epoch 50/50
804/804 [==============================] - 1s 838us/step - loss: 7.9194 - accuracy: 0.0026TA: 0s - loss: 8

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [217]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=0)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
Loss: 0.7184154391288757, Accuracy: 0.5293294191360474

In [214]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=0)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
Loss: 0.6921001672744751, Accuracy: 0.5292128324508667

In [215]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=0)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
Loss: 7.807283401489258, Accuracy: 0.0031486880034208298

### Step 3: Save each of your alternative models as an HDF5 file.

In [219]:
# Set the file path for the first alternative model
file_path = Path("../first_alternative.h5")

# Export your model to a HDF5 file
nn.save(file_path)

In [220]:
# Set the file path for the second alternative model
file_path = Path("../second_alternative.h5")

# Export your model to a HDF5 file
nn.save(file_path)